* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-transform: uppercase;
    font-style: italic;
    border-bottom: 16px solid #341f97;
    padding: 16px 0;
    background-color: #5f27cd;
    color: #fff;
}

header button {
    margin-left: 16px;
}

form {
    display: none;
    background-color: #c8d6e5;
    padding: 24px 0;
    text-align: center;
}

form h2 {
    margin-bottom: 16px;
}

input, 
button {
    padding: 8px;
}

button {
    cursor: pointer;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid #fff;
    background-color: #009432;
}
#cancel {
    background-color: red;
}

ul {
    display: flex;
    flex-wrap: wrap;
}

ul li {
    list-style: none;
    max-width: 25%;
    position: relative;
    max-height: 280px;
    overflow-y: hidden;
}

ul li img {
    width: 100%;
    height: 100%
}

.overlay-imagem-link {
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: all ease .5s;
}

.overlay-imagem-link a {
    color: #fff;
    text-decoration: none;
}

ul li:hover .overlay-imagem-link {
    opacity: 1;
}